[2014-08-07 09:25] npch opened #3 "Data Carpentry main "first point of contact email" typo"
This issue shouldn't strictly be filed against the webpage repository, but I can't find a better place to raise it.

It looks like the email address associated with the datacarpentry organisation has a typo on the page here: https://github.com/datacarpentry

[2015-08-13 00:05] #3 closed

[2015-08-13 00:07] tracykteal opened #10 "'For instructors' tab and page"
I'd like to have a 'For Instructors' tab at the top of the website, and set of pages with information for instructors on running workshops, upcoming Instructor like events and other things.

[2015-08-13 19:44] karthik opened #15 "Change support to sponsors?"
In the navbar, the word "support" reads weirdly to me (I think customer support, or just "help") but really it means financial support. Sponsors would be less ambiguous. At first I thought it was a mistake and that you forgot to change it from the default navbar item.

[2015-08-13 22:41] karthik opened #16 "Layout problems"
On this page, the yml is getting parsed.

http://datacarpentry.github.io/blog/workshop-fees/

[2015-08-13 23:49] tracykteal commented on #15
I originally had it as sponsor but changed it to support because I thought it was more all-encompassing. I see your point though and changed it back. Addressed in https://github.com/datacarpentry/datacarpentry.github.io/pull/17

[2015-08-13 23:50] tracykteal commented on #16
Fixed in https://github.com/datacarpentry/datacarpentry.github.io/pull/17

[2015-08-13 23:53] tracykteal opened #18 "Enable comments on blog posts"
Need to enable comments on blog posts. It was working, but I clearly changed some setting along the way.

[2015-08-17 00:44] #16 closed

[2015-08-17 00:44] #15 closed

[2015-08-19 22:18] tracykteal opened #20 "Update favicon to be the DC logo"
@gvwilson pointed out this issue. I addressed it but it broke other things, so I reverted the changes. Still needs to be fixed though.

[2015-08-21 13:40] ethanwhite opened #21 "Set up site to load as datacarpentry.org"

[2015-08-21 23:06] tracykteal commented on #21
yes, can you do that, or do I have to do that on my server? I just put in a redirect, but it would be better to update the DNS.

[2015-08-22 01:27] ethanwhite commented on #21
Either way. I can do it by transferring the DNS back to Namecheap (i.e., my control) and then doing the setup to make it run properly with Github pages, or you can do the same thing from your DNS. Just let me know what you'd prefer.

[2015-08-27 18:47] ethanwhite commented on #21
As discussed off line this needs to go through @tracykteal and will be handled when there are no actively running workshops.

[2015-08-31 23:46] tracykteal opened #25 "Add"

[2015-08-31 23:46] #25 closed

[2015-08-31 23:47] tracykteal opened #26 "Add 'media' page with links to presentations and articles?"
Should we add a 'media' page, or some other label, with links to presentations and articles about Data Carpentry?

[2015-09-08 20:06] brymz commented on #21
The /semester-biology/ website is down at both http://www.datacarpentry.org/semester-biology/ and http://datacarpentry.github.io/semester-biology/. The response from Firefox to the url entry is "Problem loading page: The page isn't redirecting properly". I think this might be a problem across all of the datacarpentry repos.

[2015-09-08 20:12] ethanwhite commented on #21
It's working fine for me at the moment. I wonder if the DNS changes haven't
all made it to your network yet. Can you retry in a few hours and report
back?

On Tuesday, September 8, 2015, Zack Brym <notifications@github.com> wrote:

[2015-09-08 20:15] brymz commented on #21
Sure thing.

On Tue, Sep 8, 2015 at 3:12 PM, Ethan White <notifications@github.com>
wrote:

[2015-09-08 20:20] tracykteal commented on #21
Safari tends to not update well so you might have to restart that browser.

Sent from my iPhone

[2015-09-08 20:23] brymz commented on #21
Restarting the browser did not work. I'll check back again in a couple of
hours.

On Tue, Sep 8, 2015 at 3:20 PM, Tracy Teal <notifications@github.com> wrote:

[2015-09-08 21:03] tracykteal commented on #21
Ok thanks. It's working for me from mobile.

[2015-09-08 22:32] brymz commented on #21
After restarting the computer, both links work!

[2015-09-08 22:36] ethanwhite commented on #21
Thanks @brymz. I'm going to go ahead and close this since the transition has been made and everything seems to be working.

[2015-09-08 22:36] #21 closed

[2015-10-15 14:59] tracykteal opened #29 "Add link to SWC workshop request site"

[2015-10-19 23:33] tracykteal commented on #29
Resolved by https://github.com/datacarpentry/datacarpentry.github.io/pull/34

[2015-10-19 23:33] #29 closed

[2015-11-30 20:12] hlapp opened #47 "Greg's title needs to be updated"
He's listed as ED of Software Carpentry, which presumably he isn't anymore?

[2015-11-30 20:19] gvwilson commented on #47
It's true, I'm not - don't actually know what my job title is these days...

[2015-12-01 13:27] brainwane opened #49 "404 on new blog post"
http://www.datacarpentry.org/blog/associate-director-posting/ is linked to from the front page but gives a 404 error.

[2015-12-01 13:30] hlapp commented on #49
Actually all blog links from the front page stopped working. Not sure what's going on.

[2015-12-01 13:43] tracykteal commented on #49
This is strange. It's a redirect issue somehow. Nothing has changed on the site since it was working before though. Maybe a github change? I'm looking in to it.

[2015-12-01 13:49] tracykteal commented on #49
Fixed. We had an old repo called 'blog'. Github settings must have changed so that was the default wwww.datacarpentry.org/blog/ Since I had already moved those posts over to our new website, I just deleted the 'blog' repo and things work fine now.

[2015-12-01 13:50] tracykteal commented on #49
Thanks for quickly pointing this out!

[2015-12-01 13:50] #49 closed

[2015-12-03 08:47] tracykteal commented on #47
Good point. It is actually important to update it, since Jonah officially has that role. Perhaps you could ask the SCF SC what your title is? Could you just be the Associate Director? Let me know or put in a PR when you find out.

[2015-12-04 23:39] #20 closed

[2016-01-23 11:22] tracykteal opened #54 "add past workshops page"
It would be great to have a past workshops page like SWC has.

http://software-carpentry.org/workshops/past/

[2016-01-23 11:25] tracykteal opened #55 "add a cron.job to rebuild workshop info"
We need to run 'make amy' automatically on a regular basis, and also do git push, so that workshop information gets updated automatically.

[2016-01-26 00:28] tracykteal commented on #54
I added a past workshop page.
http://www.datacarpentry.org/workshops-past/

It doesn't have the map, so that can still be added, so I'll keep this issue open.

[2016-05-16 17:10] ErinBecker opened #70 "Reorganize involved-instructor page"
1) [Training course link](http://swcarpentry.github.io/training-course/) goes to MOOC page. This isn't used anymore, right? I suggest it go instead to [current curriculum](http://swcarpentry.github.io/instructor-training/).

2) With new partnerships model, no longer any opportunity for individuals not affiliated with partner institution to go through training, right?
If that's correct:
- I can dra

[2016-05-16 17:15] gvwilson commented on #70
On 2016-05-16 1:10 PM, Erin Becker wrote:

The training-course repo isn't used any more - I should delete it or
mark it as deprecated.

[2016-05-16 17:24] ErinBecker commented on #70
mark it as deprecated.

Any objection to linking to the instructor training materials here? I think it would be great if instructors/trainees had access to those outside of their training session so they can use them as a reference. Not sure if they're currently shared that way.

[2016-05-16 19:34] ErinBecker commented on #70
Related note -

On the for-instructors page, can we add a form that links to upcoming workshops with an "I'm available to teach" link of some sort? Would be great if instructors had a way of easily letting us know that they could teach at a specific event. Or does this already exist somewhere?

[2016-05-16 19:52] gvwilson commented on #70
Ping @maneesha

[2016-05-16 20:03] ErinBecker commented on #70
Started branch (erinbecker-instructor) to work on edits to instructor related pages (involved-instructor and for-instructors).

Can someone clarify for me the issue about partnerships (#2 above)?

Also - for some annoying reason, numbered bullets are showing up sequentially (1,2) in preview mode, but as (1,1) after commit. Any tips?

https://github.com/datacarpentry/datacarpentry.github.io/blob/er

[2016-05-16 20:37] ErinBecker commented on #70
I don't know what "Complete a guided teaching practice for one Data Carpentry lesson" refers to on the involved-instructors page. I don't see this mentioned anywhere in the checkout rubric. Is this an old checkout requirement? If still used, where can I find more info?

[2016-05-16 21:29] ErinBecker opened #71 "FAQ for people interested in becoming instructors"
I'd like to start a discussion about adding an FAQ to the involved-instructor page answering questions that potential instructors may have about things *other* than logistics.

For example, some questions I have looking at the current page are:
- How do I know if I'm qualified to be an instructor?
- How good do my skills in X have to be? What if I don't know X at all, but I know Y really well?
- H

[2016-05-17 11:31] gvwilson commented on #70
The simplest thing would be to refer people to
https://swcarpentry.github.io/instructor-training/checkout/ , which will
always have the up-to-date explanation of the checkout procedure.

[2016-06-03 23:43] #70 closed

[2016-06-03 23:48] ErinBecker opened #81 "Broken link on for instructors page"
@tracykteal @gvwilson This is me just not understanding the links systems, bit embarrassing. Can I get a pointer?

`Some helpful guidelines for contributing can be found [here](/guidelines_instructor_notes/). Feel free to deviate from these guidelines as appropriate.`

Link to instructor notes guidelines isn't working. I thought I had copied the syntax from another place on the website - but obvio

[2016-06-04 23:50] #81 closed

[2016-06-23 18:56] ErinBecker opened #85 "Make timeline for checkout process realistic"
@tracykteal The current "become an instructor" text says that checkout process takes "a total of approximately 2 hours". Since the discussion session is an hour, we're saying that submitting a meaningful PR and prepping and then teaching a demo takes only an hour combined.

Both of these tasks require instructors to get pretty familiar with a specific lesson, and this seems unrealistic to me to do

[2016-06-23 19:47] gvwilson commented on #85
We can poll some recently-completed instructors to get times - I think
an hour for discussion, an hour for demo, and 2-3 hours for the PR, so a
total of 4-5, but I'm probably being optimistic about the PR time.

[2016-06-23 19:50] ErinBecker commented on #85
Really only an hour for demo? I'm assuming the mechanics of that take about half an hour (5 minutes teaching, plus time for setup, feedback, etc). Do you think it only takes a new instructor half an hour to get comfortable enough with the material for a full lesson to be ready to teach any portion of it without warning? I'm skeptical.

2-3 hrs for the PR sounds reasonable to me.

[2016-06-23 19:52] gvwilson commented on #85
You're right, that should probably be 2 hours, maybe 3.  Want me to poll
a couple of dozen recently-finished instructors to get their numbers?

[2016-06-23 19:56] ErinBecker commented on #85
Wouldn't hurt. Or we could just take the time estimate off and recognize that it will take different people different amounts of time depending on their familiarity with the materials and whether they've done a PR before.

[2016-06-23 19:58] gvwilson commented on #85
I'd like to have some kind of estimate, even if it's a range, because
the question comes up (and I always like having some idea of what I'm
getting myself into when I'm asked to do something).  I'll poll...
cheers,
G

[2016-06-30 17:39] ErinBecker opened #88 "Awkward blog navigation"
- [x] Have blog entry open upon initial title click (rather than having to click "read more")
- [x] Add author and date tags to blog post template
- [x] Enable navigation to previous and next blog posts from within individual posts

1 - may have been a strategic choice - I think it's a bit awkward and wonder whether we actually have any users are going to read the "teaser" and then decide not to c

[2016-06-30 17:41] ErinBecker commented on #85
@gvwilson Any update on this?

[2016-06-30 18:17] ErinBecker commented on #88
@tracykteal Let me know if there are any objections to these changes. I can take care of mechanics.

[2016-06-30 18:46] tracykteal commented on #88
It's mainly set up this way, because these are the default mechanics. It takes a bit of digging to do things differently.

These are good suggested changes, so you would be welcome to work on it.

[2016-06-30 21:06] ErinBecker opened #90 "Self-organized workshop form"
@maneesha The "request a self-organized workshop" form that links off of /self-organized-workshops/ includes several questions that are not relevant for self-organized workshops, including:

"I understand the Data Carpentry administration fee."
"I would like to submit an administrative fee waiver application."
"My institution will cover instructors' travel and accommodation costs."
"How will instr

[2016-06-30 21:09] ErinBecker commented on #47
@tracykteal @gvwilson Greg's title on /people/ is currently "Co-Founder and Director of Training, Software Carpentry Foundation". Can I close this issue or is there somewhere else it needs to be changed?

[2016-06-30 21:10] ErinBecker commented on #18
@tracykteal Can this be closed?

[2016-06-30 22:48] gvwilson commented on #85
Mail sent with data - one option would be to incorporate the figures
themselves in the page (to encourage trainees to report theirs ongoing).

[2016-06-30 23:18] ErinBecker commented on #85
Based on the data, I'm comfortable stating range as ~8-10 hours. Only a few people went substantially over that, so I think this would serve the goal of helping people plan their time and know what they're committing to.

[2016-07-01 15:23] ErinBecker commented on #85
Changed to "approximately 8-10 hours". Thanks for the help and data collection @gvwilson!

[2016-07-01 15:23] #85 closed

[2016-07-01 20:08] ErinBecker commented on #85
@gvwilson Just an FYI that the SWC website doesn't have a time estimate - in case you wanted to add.

[2016-07-13 18:53] ErinBecker commented on #90
Ping @maneesha.

[2016-07-19 19:59] #47 closed

[2016-07-22 23:35] ErinBecker opened #96 "Text breaking on Safari and Firefox"
On Safari and Firefox (but not Chrome), text wrapping appears to have a hard character set in that words are being hyphenated rather than moved to next line. Checkout for example the /partnership/ page. This issue appears to be present on both full-width (eg. /partnership/) and half-width (eg. /workshops/) pages and significantly impacts readability on Safari and Firefox.

This is also happening o

[2016-07-23 14:24] tracykteal commented on #96
The template default does prefer hyphenation. I worked for a while to fix this, but didn't resolve it. I thought the SWC updates had resolved it though.

[2016-07-23 18:09] hlapp commented on #96
Hyphenation is controlled via CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens

If you want to disable hyphenation everywhere, disable it at the `body` element. (By default it is inherited.) Otherwise, disable it for the element for which you don't want it.

[2016-07-25 14:30] ErinBecker commented on #96
Thanks @hlapp . I'll try to get the hyphenation disabled.

[2016-07-25 14:58] tracykteal commented on #96
I've tried. It's strangely embedded in the CSS. Definitely worth another look though!

[2016-07-25 17:28] ErinBecker opened #100 "Upcoming workshop ordering"
In /workshops-upcoming/, workshops are listed with latest (most temporally distant) first, but on the homepage, they are listed with most imminent first. Should be consistent. I vote for the way they are listed on homepage.

[2016-07-25 21:42] ErinBecker opened #101 "Broken links to ecology lesson materials"
The links to the ecology introduction to R and dplyr lessons gives 404 errors. This appears to be because those modules only exist as .Rmd files (no corresponding html files in the lesson repo). Cross-posting to website and lesson repos to try to get fast fix.

Thanks!

[2016-07-25 22:08] ErinBecker commented on #18
Blog comments look to be working to me. Closed.

[2016-07-25 22:08] #18 closed

[2016-07-25 22:09] #26 closed

[2016-07-25 22:10] #10 closed

[2016-07-26 09:59] gvwilson commented on #101
Which links that are 404'ing? I'm on <http://www.datacarpentry.org/lessons/>, under "Ecology Workshop", and the following work for me:

Data Analysis and Visualization in R: Site <http://www.datacarpentry.org/R-ecology-lesson/>

All links to episodes under "Lessons:" on that page work for me as well.

[2016-07-26 12:08] tracykteal commented on #101
I think I see that you meant https://github.com/datacarpentry/ecology-workshop/?

There were broken links there and I just fixed them.

Is that the page you meant?

[2016-07-26 12:29] ErinBecker commented on #101
@tracykteal Thanks Tracy. Those weren't the links I meant, but I'm glad you found (and fixed!) them. Francois fixed the lesson links last night.

[2016-07-26 12:29] #101 closed

[2016-08-02 16:13] ErinBecker commented on #90
Ping @tracykteal - Is this an issue for Piotyr?

[2016-08-02 16:14] #71 closed

[2016-08-02 16:16] ErinBecker opened #103 "Update SC minutes"
Last update to /minutes/ is from Sept. 2015.

[2016-08-02 16:17] ErinBecker opened #104 "Add partners page"
Similar to http://software-carpentry.org/scf/partners/

[2016-08-02 16:18] ErinBecker opened #105 "Add bios and pictures to people"
Add short bios and pictures for staff and SC members to /people/

[2016-08-02 22:32] ErinBecker opened #107 "Datacarpentry.com redirect"
Datacarpentry.com currently redirects to software-carpentry.org. Tested in Chrome, Firefox and Safari. Weird.

@gvwilson @tracykteal @jduckles Any idea how to fix this?

[2016-08-03 13:07] maneesha commented on #90
Preferred workshop dates - should read just  "Workshop Dates" as they are responsible for schedule it themselves

Approximate number of attendees - we should leave this in but the help text should read  "This number doesn't need to be precise, but will help you decide how many instructors your workshop will need.Each workshop must have at least two instructors."

This: We currently have developed

[2016-08-03 20:24] ErinBecker commented on #90
Thanks @maneesha. I'll coordinate with @tracykteal and @pbanaszkiewicz about getting this split into two forms.

[2016-08-09 17:13] kcranston opened #110 "link to partnership page from self-organized workshop page"
The mentions of partnership agreements on the [Fees section](http://www.datacarpentry.org/self-organized-workshops/#fees-for-self-organized-workshops) of the Self-Organized Workshop page should be links to more information about partnerships.

[2016-08-09 17:29] #110 closed

[2016-08-11 21:52] ErinBecker opened #113 "Geospatial link broken"
The GitHub page for the introduction to geospatial data hits a 404 page not found error. (http://neon-workwithdata.github.io/NEON-R-Spatio-Temporal-Data-and-Management-Intro/)

@tracykteal

[2016-08-17 17:45] ErinBecker commented on #105
Added bios w/PR [#112](https://github.com/datacarpentry/datacarpentry.github.io/pull/112)

[2016-08-22 19:33] ErinBecker commented on #100
Closed with PR #119

[2016-08-22 19:33] #100 closed

[2016-08-22 19:34] ErinBecker commented on #90
There is an existing form for this, but needs some modifications. See [this PR in amy repo](https://github.com/swcarpentry/amy/issues/967)

[2016-08-22 23:12] ErinBecker commented on #105
Add pics for staff w/[#123](https://github.com/datacarpentry/datacarpentry.github.io/pull/123)

[2016-08-22 23:12] #105 closed

[2016-08-23 20:25] tracykteal opened #124 "For Instructors category 'Workshop checklists'"
When talking about the checklists, it wasn't totally obvious where to find them. What about in the 'For Instructors' tab, adding a 'Workshop checklists' category that goes to a page with the checklists.

[2016-08-23 20:32] tracykteal commented on #113
Addressed in https://github.com/datacarpentry/datacarpentry.github.io/pull/125

[2016-08-24 13:54] ErinBecker commented on #124
There's currently a tab called "self-organized workshops" that goes to the homepage for self-org workshops. The checklist links are at the top of that page.

[2016-08-29 16:13] ErinBecker commented on #124
Closed with [PR #127](https://github.com/datacarpentry/datacarpentry.github.io/pull/127)

[2016-08-29 19:41] ErinBecker commented on #88
Made blog home more condensed with #128

[2016-08-29 21:03] tracykteal commented on #88
Looks better, thanks!

[2016-08-29 21:18] ErinBecker commented on #88
Thanks, still working on a few other aesthetics. Figuring out what controls what on the blog is fairly convoluted. . .

[2016-08-30 16:06] ErinBecker commented on #88
Enabled navigation between blog posts with PR #129. Buttons currently only "Next and Previous", would like to be post titles and to be centered. Leaving open.

[2016-08-30 20:02] ErinBecker commented on #124
Updated with PR #131

[2016-08-30 20:02] #124 closed

[2016-09-02 13:54] rgaiacs opened #133 "No Data visualization in R lesson"
At http://www.datacarpentry.org/lessons/ we have

The "Data anlysis in R" and "Data visualization in R" link to the same lesson. We probably want to drop the "Data visualisation in R".

[2016-09-18 11:23] rgaiacs opened #137 "Remove wood background on mobile view"
On mobile devices we have the wood background but not the logo.

![screenshot_2016-09-18_12-19-15](https://cloud.githubusercontent.com/assets/1506457/18615284/9412c46c-7d9a-11e6-98c1-a6e9a1223fd0.png)

[2016-09-18 11:24] rgaiacs opened #138 "Add small padding on mobile devices"
because the text is close to the border of the device.

![screenshot_2016-09-18_12-19-15](https://cloud.githubusercontent.com/assets/1506457/18615289/b70421e6-7d9a-11e6-8f6d-0364a027fedd.png)

[2016-09-20 13:52] lexnederbragt opened #140 "TOC genomics workshop inconsistent"
At http://www.datacarpentry.org/lessons/#genomics-workshop, there is a link to the 'More workshop details' page (http://www.datacarpentry.org/genomics-workshop), and a table with direct links to lesson website pages. However:
- http://www.datacarpentry.org/genomics-workshop/ has links to Module 2: Data tidiness which are not in the table at http://www.datacarpentry.org/lessons/#genomics-workshop
-

[2016-10-12 10:40] rgaiacs opened #143 "Box size in layout is different on some pages"
Screenshot from http://www.datacarpentry.org/mission/

![screenshot_2016-10-12_11-36-18](https://cloud.githubusercontent.com/assets/1506457/19307051/69bb6c76-9070-11e6-835a-4036593f9b6e.png)

Screenshot from http://www.datacarpentry.org/media/

![screenshot_2016-10-12_11-36-01](https://cloud.githubusercontent.com/assets/1506457/19307047/65454cc0-9070-11e6-8be9-75ed443f3412.png)

Something on https

[2016-10-12 10:46] rgaiacs opened #144 "Navigation bar below header only on blog archive"
Screenshot:

![screenshot_2016-10-12_11-44-07](https://cloud.githubusercontent.com/assets/1506457/19307248/5c04f222-9071-11e6-9eda-0afe6e02b120.png)

Below the header with Data Carpentry logo you can see

[code]

[2016-11-09 21:12] tracykteal opened #160 "assessment report on blog post still linked to Google doc rather than pdf"
Did we want to link to the pdf rather than the Google doc?

@ErinBecker @kariljordan

[2016-11-09 21:13] kariljordan commented on #160
Yes, I sent it to Erin for the blog.

[2016-11-09 21:18] ErinBecker commented on #160
Ugh - I thought I changed this. Just a minute.

[2016-11-09 23:17] tracykteal commented on #160
Thanks @ErinBecker I see it's fixed.

[2016-11-09 23:17] #160 closed

[2016-11-11 20:50] ErinBecker opened #163 "Add Policy committee page"
Add page with bios of current policy committee members.

[2016-11-14 23:16] tracykteal opened #164 "Add section on assessment data to the Assessment page"
@ErinBecker @kariljordan can we add a 'Data' section to the assessment page (pages/assessment.md) for the website, and link to the repo with the data? Then I think all the information would be available on that one page.

[2016-11-17 17:26] ErinBecker commented on #164
@kariljordan if you can send me a link to the repo, I'll go ahead and set this up.

[2016-11-17 22:55] kariljordan commented on #164
Here is the link to the workshop-survey-data repo:

https://github.com/datacarpentry/workshop-survey-data

On Thu, Nov 17, 2016 at 12:26 PM, Erin Becker <notifications@github.com>
wrote:

--

Kari L. Jordan, Ph.D.

Deputy Director of Assessment

Data Carpentry

www.datacarpentry.org

[2016-11-17 23:24] ErinBecker commented on #164
@tracykteal I've added a link to the data repo.

@kariljordan I think we'll need to have a different repo for each assessment report, as we want to make sure the data set provided matches the results in that report. Is it possible to change the name of the repo?

[2016-11-17 23:24] #164 closed

[2016-11-17 23:28] tracykteal commented on #164
We can use github's versioning, so that a given version of the data is linked to the report. So, we don't have to create new repos. We should version this version of the data, and then we can link to that directly. Sorry I didn't think to do that earlier.

[2016-11-17 23:31] ErinBecker commented on #164
Of course! Version control. Why didn't I think of that. *rolls eyes at self and mommy brain*

[2016-11-17 23:37] tracykteal commented on #164
This is the [documentation on creating releases](https://help.github.com/articles/creating-releases/). We can make this version 1.0.

[2016-11-18 16:08] kariljordan commented on #164
Great. So I'll probably run the next report in January and will name it version 2.0?

[2016-11-19 00:20] tracykteal commented on #164
Yes, sounds good. We can still make updates between now and January. The versioning is for setting a static version that we can reference. So, we'd want to make a data version any time it's analyzed in a report. We can do slight updates if needed too, with version numbers, like 1.1.  I'm actually not sure if the next one should be 2.0 or more like 1.1. We might make 2.0 as data from a new survey.

[2016-11-28 18:08] fmichonneau opened #171 "enable https"
https://datacarpentry.org should work.

An easy solution is to use https://cloudflare.com and set up a rule to redirect all traffic through https:

https://support.cloudflare.com/hc/en-us/articles/200170536-How-do-I-redirect-all-visitors-to-HTTPS-SSL-

[2016-12-01 20:20] #144 closed

[2016-12-01 20:37] ErinBecker commented on #143
@rgaiacs There are two layout definitions "page" and "page-fullwidth". Some of the pages are set to "page" (the narrow version), while most are set to full-width. Personally, I think the pages with a lot of short lines (e.g. lists as in media, governance) look better with the narrow format. I'm open to changing all to be wide if there's a strong preference.

[2016-12-01 21:34] #113 closed

[2016-12-01 21:36] ErinBecker commented on #103
@tracykteal Are the October and November minutes available?

[2016-12-01 21:41] ErinBecker commented on #133
Closed with https://github.com/datacarpentry/datacarpentry.github.io/commit/e17ee4e3721654db8dee9cc14a106df2e802aae4

[2016-12-01 21:41] #133 closed

[2016-12-01 21:44] ErinBecker commented on #90
Closed with https://github.com/swcarpentry/amy/issues/967

[2016-12-01 21:44] #90 closed

[2016-12-15 18:33] ErinBecker opened #184 "Genomics lessons link to repos instead of websites"
Fix the links to the data wrangling and cloud lesson websites from the /lessons/ page.

[2017-03-27 12:25] lexnederbragt opened #215 "Social Sciences materials?"
http://www.datacarpentry.org/lessons/ mentions "Social science materials" but these are not listed there?

[2017-03-27 18:18] ErinBecker commented on #215
Good catch! It looks like those got taken off of the website. I'll remove the reference.

[2017-03-27 18:18] #215 closed

[2017-03-27 18:21] ErinBecker commented on #215
@lexnederbragt We had a single module for data mining with social sciences data, but since this is not a complete workshop offering, they were removed from the lessons page.

We do have a full workshop for social sciences in development: https://github.com/data-lessons (gapminder-R, gapminder-spreadsheet, gapminder-openrefine).

[2017-04-06 21:44] ErinBecker opened #219 "update link to instructor notes"
For ecology lessons, the instructor notes have moved to _extras/guide.md

[2017-04-19 07:58] jduckles opened #223 "All instructor notes links on lessons page are broken"
The links to instructor notes on: http://www.datacarpentry.org/lessons for the Ecology lesson are retuning 404 not found.

[2017-04-19 16:12] ErinBecker commented on #223
Thanks Jonah, that's because we moved over to the new template. I'll fix right now.

[2017-04-19 16:16] #219 closed

[2017-04-19 16:44] #223 closed

[2017-05-07 17:56] maneesha opened #234 "Make corporate fees explicit"
On this page http://www.datacarpentry.org/workshops-host/
it just says contact us.  SWC makes the corporate fee explicit; DC should do the same to make it clear this is a consistently applied fee.

[2017-06-26 21:22] tracykteal opened #245 "Add Belinda to the team!"

[2017-07-25 00:36] weaverbel opened #261 "Create interim CONTRIBUTING.md file?"
Hi @tracykteal
I could create a CONTRIBUTING.md which could include how to do a blog post until we come up with the joint blog? Wouldn't take long.

[2017-08-08 09:25] rgaiacs opened #268 "Extra code in HTML"
At http://www.datacarpentry.org/workshops-host/ you have

![screenshot from 2017-08-08 10-23-23](https://user-images.githubusercontent.com/1506457/29065430-f4d60efc-7c23-11e7-846d-18d3c97bfd6a.png)

[2017-08-08 18:04] tracykteal commented on #268
Thanks! Fixed by https://github.com/datacarpentry/datacarpentry.github.io/pull/270

[2017-08-09 18:24] rgaiacs commented on #268
I'm closing this based on the previous comment.

[2017-08-09 18:24] #268 closed

[2017-08-15 22:25] #245 closed

[2017-08-15 22:26] ErinBecker opened #276 "Add link to pad of pads to website"
Is this already on the website somewhere? http://pad.software-carpentry.org/pad-of-pads

[2017-08-16 10:19] tracykteal commented on #276
No, I don't think so. I'm not sure where the best place is to put it where people would find it. It seems like the 'For Instructors' menu/pages would be most relevant. We could add a 'Resources' page to 'For Instructors' and put it there.

[2017-08-16 22:16] weaverbel commented on #276
I have planned for an instructors area on the new web page, but I think we could put it on the existing web pages now - on the SWC 'join' page, it could fit neatly above the calendar. There's not such an obvious point for it to go on the DC pages, but maybe having it in one place we can all point to is enough. I'll add it to join today.

[2017-08-16 22:43] weaverbel commented on #276
Ok, pad of pads is now in the community events part of join.html oin SWC page:
https://software-carpentry.org/join/

[2017-08-17 15:48] ErinBecker commented on #276
Thanks Belinda!

On Wed, Aug 16, 2017 at 3:43 PM, Belinda Weaver <notifications@github.com>
wrote:

--
Associate Director, Data Carpentry
Director of Instructor Training, Software and Data Carpentry
Research Associate, MMG Dept., UC Davis

[2017-09-05 10:50] rgaiacs opened #287 "You may want to use this commit"
https://github.com/swcarpentry/website/commit/bfa937ff0c2d1be5d7533d7fe9c1d11ab5304f03

[2017-09-22 13:59] rgaiacs opened #295 "Request for Comment: Share your thoughts on the future of The Carpentries blog post is missing"
https://software-carpentry.org/blog/2017/09/rfc.html

[2017-09-25 02:42] weaverbel commented on #295
Post is up now @rgaiacs - should I close this?

[2017-09-25 09:22] rgaiacs commented on #295
Are you sure?

I can't find the cross post at http://www.datacarpentry.org/blog/. It is on the Software Carpentry blog but it also should be on the Data Carpentry one.

[2017-09-26 06:48] weaverbel commented on #295
It is here: http://www.datacarpentry.org/blog/lat-am-lessons/

[2017-09-26 10:45] rgaiacs commented on #295
@weaverbel The link that you sent is for the Latin America. The one that I open the issue is about the merge.

[2017-09-26 18:50] tracykteal commented on #295
Thanks @rgaiacs you're right, and thanks for pointing this out. I put in a PR on the datacarpentry website https://github.com/datacarpentry/datacarpentry.github.io/pull/297

[2017-09-29 14:29] tracykteal commented on #295
Posted now on datacarpentry.org, so closing.

[2017-09-29 14:29] #295 closed

[2017-10-19 11:56] kariljordan opened #306 "Fix issues with "Our long-term assessment results are in!" blog post"
@rgaiacs Do the issues you found [here](https://github.com/swcarpentry/website/pull/852) apply to [this post](https://github.com/datacarpentry/datacarpentry.github.io/blob/master/_posts/2017-10-18-long-term-survey-results.md)

[2017-10-19 12:15] rgaiacs commented on #306
You probably want https://github.com/swcarpentry/website/pull/852/commits/b385f1acd77425800ece7ee8cb8ea990079e4ce8.

You don't need https://github.com/swcarpentry/website/pull/852/commits/7ec15b082b25356fa0015bc5e9f11ce038884393. See https://github.com/swcarpentry/website/issues/853 for a long explanation.

Don't apply https://github.com/swcarpentry/website/pull/852/commits/9a43e896898c5cac35e13f8

[2017-10-20 19:09] kariljordan commented on #306
I went through each of your suggestions and it didn't look as if I needed to change anything. Any way to get the figures to look smaller? They're taking up so much space.

[2017-11-02 17:06] ErinBecker commented on #234
Thanks Maneesha. I put in a PR for this. Closing this issue.

[2017-11-02 17:06] #234 closed

[2017-11-02 17:07] ErinBecker commented on #184
Links are currently correct.

[2017-11-02 17:07] #184 closed

[2017-11-02 17:08] ErinBecker commented on #163
We're piloting a new joint website for Carpentries. Pages for subcommittees will be redesigned for that site. Closing here.

[2017-11-02 17:08] #163 closed

[2017-11-02 17:11] ErinBecker commented on #140
Thanks @lexnederbragt  - these links were a bit of a mess for a while but are consistent now. Link structure will also be simplified with merge of https://github.com/datacarpentry/genomics-workshop/pull/29. Closing issue here.

[2017-11-02 17:11] #140 closed

[2017-11-02 17:11] #96 closed

[2017-11-02 17:14] ErinBecker commented on #54
@weaverbel - Do you think this is something you could implement? It would be nice to have the map like SWC has. Not a time rush, but would be good at implement this at some point. Please let me know what you think.

[2017-11-02 17:15] ErinBecker commented on #55
I think this is happening now. Could you please confirm and close if correct?

[2017-11-02 17:19] #88 closed

[2017-11-02 17:20] ErinBecker commented on #104
@weaverbel - Would be nice to have something like this on the joint Carpentries page, since memberships will be joint across the Carpentries. I'll make a task in Asana for this for the joint page and close this issue.

[2017-11-02 17:21] #104 closed

[2017-11-02 17:45] tracykteal commented on #104
We'll be planning the joint website out in early 2018. Good to start documenting things we'll want to include.

[2017-11-02 17:46] tracykteal commented on #55
Yes, it's already happening. Will close this.

[2017-11-02 17:46] #55 closed

[2017-11-21 17:28] ErinBecker opened #329 "workshops page out of date"
Workshops page lists current curriculum, but the lessons page has been updated with curricula in progress. Would be good to simplify this page to just link to the lessons page and then the "attend a workshop/ request a workshop / organize a workshop" buttons.

[2017-11-21 19:09] arokem opened #330 "Image processing link is broken"
This link from the lessons page: http://www.datacarpentry.org/lessons/image-curriculum@carpentries.org gives me a 404

[2018-02-05 17:26] fmichonneau commented on #330
it looks like the page has been updated since and this broken has been fixed: 5ef5fb45681116997340d729f8004b1bc79d2fa8

[2018-02-05 17:26] #330 closed

[2018-02-06 23:29] yetiracing4als commented on #329
Simplifying the page would help, and I will work on changing the code and submitting the suggestions below:

A Data Carpentry workshop teaches the core skills for working with data effectively and reproducibly.  Each workshop is developed to provide a learner fundamental skills around a specified domain.  These skills are taught in a two-day, hands-on forum and are designed for learners with littl

[2018-02-13 11:09] rgaiacs opened #381 "Current Steering Committee Members is out of date"
Current Steering Committee Members in http://www.datacarpentry.org/people/ might need to be updated as mentioned in http://www.datacarpentry.org/blog/datacarpentry-looking-forward-looking-back/.

[2018-02-13 11:14] rgaiacs opened #382 "Add Dr. François Michonneau to staff page"
http://www.datacarpentry.org/people/ should list Dr. François Michonneau after http://www.datacarpentry.org/blog/curriculum-dev-scaling/ goes live.

[2018-03-05 18:11] ErinBecker opened #389 "add list of curriculum advisory committee members to website"
Hold off on this as we are waiting on final acceptances from some of the Geospatial and SocSci folks. This should probably be listed on the lessons page or be part of a broader "Who's Who in the Carpentry Community" page.

Genomics:

- Anita Schürch
- Annette McGrath
- Ben Busby
- Bob Freeman
- Jason Williams
- Mateusz Kuzak
- Ming Tang
- Naupaka Zimmerman
- Sarah Stevens
- Sue McClatchy

Geospati

[2018-03-05 18:11] ErinBecker commented on #389
@tracykteal  - Is the list for Genomics accurate. I pulled from here: https://docs.google.com/spreadsheets/d/1a17CyOnfjNNlOUTEtnZf5HFo6stOcE-DTMbzukDDnUQ/edit#gid=0

[2018-03-06 13:59] kariljordan opened #391 "Broken link"
Someone in our instructor training pointed out this [broken link](http://carpentries.github.io/instructor-training/15-practices/)

It's from the [lead instructor/host checklist](http://www.datacarpentry.org/self-org-lead/)

[2018-03-06 15:02] #391 closed

[2018-03-21 09:16] alex-konovalov opened #400 "Broken link to Data Carpentry teaching practices"
Reported by one of Instructor Training workshop participants: https://github.com/datacarpentry/datacarpentry.github.io/blob/master/pages/instructor-checklist.md has broken link to Data Carpentry teaching practices (http://carpentries.github.io/instructor-training/15-practices/).

[2018-03-21 10:19] tracykteal commented on #400
Thanks for pointing this out. Just put in a PR to fix.

[2018-04-18 14:08] maneesha opened #416 "List of workshops out of date"
The list of upcoming workshops lists past workshops.
Also not all upcoming workshops published in AMY show up here.

[2018-04-19 00:24] kariljordan opened #417 "Assessment pages"
As we have the main assessment page on the carpentries.org website, can we remove the [assessment page](http://www.datacarpentry.org/assessment/) from the DC website?

[2018-05-01 12:55] tracykteal commented on #416
Thanks @maneesha I'll do a manual update, and look to see why it's not auto-updating.

[2018-05-01 12:59] tracykteal commented on #54
I'll close this here, as I think now we'd put all our workshops on one map on carpentries.org

[2018-05-01 12:59] #54 closed

[2018-05-01 13:01] tracykteal commented on #416
Workshops have been updated. I was running a cron job to do the updates, and something changed with that server. I'll move the cron job over to a more centralized server. Keeping this issue open for that update.

[2018-05-01 20:52] celinergb opened #429 "Adding the Open Refine download link"
We direct participants to simply Open Refine's home page (http://openrefine.org/) in the setup (http://www.datacarpentry.org/OpenRefine-ecology-lesson/setup/). For absolute beginners it may be better to actually post the link to the download page (http://openrefine.org/download.html). Although this is a small step to take, this may help cut down on cognitive load that some novices experience at th

[2018-05-01 21:09] crocodoyle opened #430 "Pyplot tutorial should close plots"
In lesson 7, (http://www.datacarpentry.org/python-ecology-lesson/07-putting-it-all-together/), none of the examples close pyplot. This isn't a problem if only following the examples, but very important if you're creating figures in loops or creating lots of plots.

[2018-05-02 13:55] fmichonneau commented on #430
closing in favor of datacarpentry/python-ecology-lesson#277

[2018-05-02 13:55] #430 closed

[2018-05-11 15:53] maneesha commented on #416
We still have workshops that are not showing up on the DC website.  @tracykteal  let me know if there is anything I can do to help fix this.

[2018-05-16 15:05] maneesha commented on #416
Bumping this up as I'm again getting inquiries about workshops not displaying.  The workshop list continues to be out of date.
@tracykteal  Let me know what I can do to fix this.

[2018-05-21 15:37] ErinBecker opened #436 "lesson links in menu not working"
The links to the sections for individual curricula in the lessons menu aren't working. I just added those in a recent PR (https://github.com/datacarpentry/datacarpentry.github.io/pull/435) and the hrefs appear to be correct. Not sure what's wrong. @tracykteal @fmichonneau any ideas?

[2018-05-21 16:51] maneesha commented on #436
With html anchors you can't have a trailing `\`
So http://www.datacarpentry.org/lessons/#genomics-workshop will work but http://www.datacarpentry.org/lessons/#genomics-workshop/ will not

[2018-05-21 16:53] ErinBecker commented on #436
Thanks @maneesha!!! I'll fix that right now.

[2018-05-21 16:55] #436 closed

[2018-05-25 13:14] maneesha commented on #416
@tracykteal  where do I run this script from?

[2018-05-26 00:41] tracykteal commented on #416
It's the 'amy_add.sh' script in the top level of this repo

[2018-06-12 21:59] maneesha commented on #416
I don't have the same environment set up so I get this error:
[code]

[2018-06-13 15:49] remram44 commented on #171
GitHub now supports this, it should be enabled: https://blog.github.com/changelog/2018-05-01-costum-domains-for-gh-pages/

[2018-06-13 17:33] fmichonneau commented on #171
@jduckles could you please set up the datacarpentry domain the same way as it's done for software-carpentry so we can take advantage of the CDN + https?

[2018-06-13 17:34] tracykteal commented on #171
I have things set up, so have to move things over, so @jduckles has been waiting on me. datacarpentry.github.io redirects to datacarpentry.org so I want to make sure that will all work too.

[2018-06-13 17:38] tracykteal commented on #171
Ah, ha, I see, I maybe don't need to move things over with this update, since it's supported with github. Thanks @remram44! Let me try this out.

[2018-06-13 17:51] tracykteal commented on #171
I see how to do this. I need to update the A records, so I'll do this tonight, rather than now when people might be using the lessons, so that in case something goes wrong, I don't take them down.

[2018-06-13 20:46] ErinBecker commented on #389
This information is available http://www.datacarpentry.org/lesson-leadership/

[2018-06-13 20:46] #389 closed

[2018-06-13 20:46] ErinBecker commented on #382
Correct at https://carpentries.org/team/

[2018-06-13 20:46] #382 closed

[2018-06-20 12:01] maneesha commented on #416
bumping this up @tracykteal  please see my comment above from last week

[2018-06-21 04:58] jduckles commented on #171
@tracykteal  This needs to happen before July arrives or you'll users will be getting "Not Secure" messages.

[2018-06-21 10:46] fmichonneau commented on #416
I regenerated the list of workshops, and it's now up to date on the website.

However, the script currently included in the repository seems out of date. I used the one included in the Software Carpentry repository. This script requires AMY credentials to retrieve the data.

I suggest we use a daily CRON job on travis to do build the workshop list, so when things break we'll be able to diagnose is

[2018-06-21 19:29] jduckles commented on #416
This is done here, as of yesterday: https://github.com/carpentries/amy-feeds

[2018-06-22 20:54] libcce commented on #416
@jduckles When you have the time, can you add a feed for LC as well?  Thanks!

[2018-06-27 23:05] tracykteal commented on #171
I've changed the settings on the nameserver. Just waiting for it to percolate to flip the HTTPS switch on github.

[2018-07-02 22:38] maneesha commented on #416
This is out of date.  As of today, June workshops are still listed.  It should also be in chronological order.  It's currently in reverse chronological order.  pinging @jduckles

[2018-07-02 22:41] maneesha opened #441 "List of blog posts is out of date"
Blog posts displayed on front page of website are from April 2018.  Most recent blog post from May 2018 on social sciences does not show up on the front page.  It is on the archive page (http://www.datacarpentry.org/blog/archive/).

[2018-07-02 22:43] maneesha commented on #416
This is not just on the front page but on this page as well:  http://www.datacarpentry.org/workshops-upcoming/

Workshops from June 2018 show up on this page.

[2018-07-02 22:50] maneesha opened #443 "difference between "Development of Lessons" and "Roadmap for Lesson Development""
What is the difference in the message we are trying to send with these two pages? I'm not sure why these are two separate pages.

Development of Lessons:  http://www.datacarpentry.org/involved-lessons/
Roadmap for Lesson Development: http://www.datacarpentry.org/lessons-incubation/

Also are the active lessons listed in the "Development of Lessons" page the only ones that we are considering active

[2018-07-02 22:53] jduckles commented on #416
The process for updating `data/amy.yml` is not automated in this repo. See above: https://github.com/datacarpentry/datacarpentry.github.io/issues/416#issuecomment-399058669
I don't think we should keep the `.yml` in the repo as it has instructor email addresses in it, the yml in the swcarpentry repo is not kept up-to-date and instead is pulled down at build-time.

There are a couple of ways we can

[2018-07-02 22:55] maneesha opened #445 "instructor training checkout - on DC website?"
Should we have instructor training checkout info on the DC website when it is cross-carpentries information?  pinging @ErinBecker  @karenword

[2018-07-03 00:27] maneesha opened #446 "DC about page needs updating"
The DC [about page](http://www.datacarpentry.org/about/):

* refers to DC as an organization
* references the Steering Committee
* refers to it as a project of NumFOCUS
* Minutes page goes to 404 (should probably go to old meeting minutes)

Also has a couple of run-on sentences.

[2018-07-03 00:30] maneesha opened #447 "DC sponsors page needs updating"
The [sponsors page](http://www.datacarpentry.org/sponsors/) lists DC as a project of NumFOCUS.  It also refers to itself as "a spin-off organization of Software Carpentry".

[2018-07-03 15:51] maneesha opened #448 "DC get involved page needs updating"
This page: http://www.datacarpentry.org/involved/

* Refers to "partners" - - We are exclusively calling them members, correct?
* Says it is a "volunteer organization" -- we should be referring to ourselves as a project of CI, correct?
* Remove/update line about attending CarpentryCon

[2018-07-03 15:53] maneesha opened #450 "use template variables for things like contact info"
I've just put in a bunch of PRs to update the contact emails to team@carpentries.org.
On the SWC website,  data like contact email addresses are managed through template variables so we don't have to make updates across the board.  Can the DC website be set up similarly?

[2018-07-03 16:34] fmichonneau commented on #450
I just created the `dc_email` global variable set to team@carpentries.org, so something like this will work:

[code]

[2018-07-03 16:38] maneesha opened #451 "DC workshops page needs updating"
The  curricula we offer listed here is out of date:

http://www.datacarpentry.org/workshops/

[2018-07-03 18:07] maneesha opened #453 "Redirect pages to handbook"
The following pages should be redirected:

http://www.datacarpentry.org/hosted-lead/  to https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#instructor-checklist

http://www.datacarpentry.org/admin/ to https://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html

[2018-07-03 23:15] fmichonneau commented on #171
all done!

[2018-07-03 23:15] #171 closed

[2018-07-04 04:40] weaverbel commented on #453
I am happy to make the changes if someone can tell me what the redirect procedure is - maybe @fmichonneau or @jduckles ?

[2018-07-05 22:00] weaverbel commented on #450
So is this done? Can this be closed? @maneesha @fmichonneau

[2018-07-05 22:12] weaverbel commented on #451
Pinging @ErinBecker @fmichonneau - what do you want to list here?

[2018-07-05 22:18] weaverbel commented on #448
All changes made now.

[2018-07-05 22:18] #448 closed

[2018-07-05 22:22] weaverbel commented on #447
Fix is in but merge keeps failing - have escalated to @fmichonneau to fix https://github.com/datacarpentry/datacarpentry.github.io/pull/455

[2018-07-05 22:22] #447 closed

[2018-07-05 22:29] weaverbel commented on #381
I am happy to update if you can point me to the list of people I should include @tracykteal or @ErinBecker

[2018-07-05 22:29] #276 closed

[2018-07-05 22:30] #261 closed

[2018-07-05 22:30] weaverbel commented on #261
Now in the handbook, so moot.

[2018-07-05 22:31] weaverbel commented on #287
I think this has all moved on now so am closing

[2018-07-05 22:31] #287 closed

[2018-07-05 22:32] weaverbel commented on #103
Shall I close this?

[2018-07-05 22:33] weaverbel commented on #107
Assigned to me but I don't know how this could be done? Can anyone help? @jduckles ? @fmichonneau ?

[2018-07-05 22:34] #400 closed

[2018-07-05 22:53] fmichonneau commented on #429
transferred to  openrefine lesson repo: https://github.com/datacarpentry/OpenRefine-ecology-lesson/issues/185

[2018-07-05 22:53] #429 closed

[2018-07-05 22:54] fmichonneau commented on #451
I suggest we remove the list of workshops from here and point to the "lessons" page instead that we try to keep up to date

[2018-07-06 13:30] maneesha commented on #451
I think we should take this page down entirely and have it redirect to https://datacarpentry.org/lessons/

[2018-07-06 15:58] fmichonneau commented on #416
I've set up a travis script that pulls the workshop data from the same makefile that generates the amy-feeds. It will run after each push to the repo and is on a weekly cron job that runs unless there has been updates in the last 24 hours.

Getting the data from amy-feeds could be simplified once we either create a YAML file for the workshops hosted on carpentries.org, or update the website templa

[2018-07-06 15:58] #416 closed

[2018-07-06 16:05] fmichonneau commented on #416
@maneesha the workshops are also now listed in chronological order on the front page and in the upcoming workshops page.

[2018-07-06 16:15] fmichonneau commented on #441
This is a feature of our current template, the latest blog post is listed before the 3 pictures on the front page, and the following ones are listed below under "Blog posts". All the posts are being displayed as far as I can tell. Closing, but @maneesha feel free to open a separate issue if you think that we can improve how the list of recent blog posts are being organized.

[2018-07-06 16:15] #441 closed

[2018-07-06 16:22] #306 closed

[2018-07-06 17:51] maneesha commented on #450
I'll defer to @fmichonneau
He just created the variable but it's not in use anywhere yet.  What's the easiest way to replace all email addresses on the website with the new variable?

[2018-07-06 18:55] ErinBecker commented on #451
I agree with @fmichonneau and @maneesha

[2018-07-08 21:47] jduckles commented on #107
Should be fixed, please close if you see it working. Will take some time for the DNS to propagate.

[2018-07-09 15:14] ErinBecker commented on #107
Thanks @jduckles. Works now.

[2018-07-09 15:14] #107 closed

[2018-09-24 20:10] ErinBecker opened #466 "add links to instructor notes for geospatial lessons"
The instructor notes aren't linked in to the Geospatial lesson table. Need to be added.

[2018-10-08 16:55] maneesha commented on #451
Catching up on old issues.  @fmichonneau  Would you be able to set up this redirect?

[2018-10-08 16:56] maneesha commented on #446
Closing - looks like this has since been fixed.

[2018-10-08 19:52] fmichonneau commented on #451
I think this page is useful. We can remove the last part "Data Carpentry workshops must include:...".

If we take down this page and redirect to the lesson page, then the "Workshop" menu doesn't have a description of what our workshops are, and visitors would be driven away from the other pages about workshops (request, attend, host a workshop).

[2018-10-08 19:58] tracykteal commented on #451
I also think this page is useful. We need to have somewhere the 'Data Carpentry workshops must include'. We can use this page as a place to talk about the concept of DC workshops. What distinguishes them from SWC or LC for instance.

Agree it needs updating though, especially to sync up with the new Carpentries workshop page. http://static.carpentries.org/workshops/

This page could help you get m

[2018-10-23 01:00] #446 closed

[2018-11-21 23:58] cla473 opened #470 "Broken link: 404 File not found"
From the Ecology Curriculum section on Data Carpentry workshops page: https://datacarpentry.org/lessons/#ecology-workshop, the link to the reference for Data Management for SQL for Ecologists: https://datacarpentry.org/sql-ecology-lesson/reference/
is broken.

[2018-11-28 14:19] maneesha commented on #470
Thanks @cla473  for bringing this up.  It looks like all the reference links are broken.  Pinging @ErinBecker  to look into this.

[2018-12-05 15:19] maneesha opened #473 "DC website list of workshops inaccurate"
The list of workshops on the website doesn't seem to be pulling workshops from AMY properly.
It lists out of date workshops - today, Dec 5, there are workshops from Dec 3-4 listed.

It also lists SWC workshops - does not limit the listing to DC workshops.

Seems like this issue has come up often before: https://github.com/datacarpentry/datacarpentry.github.io/issues/416

Tagging @tracykteal @jduck

[2018-12-05 17:01] fmichonneau commented on #473
The list of workshops was last pulled 18 hours ago when it was December 4th so it's why it's still showing workshops from Dec 3-4. When it runs again in about 6 hours, these workshops shouldn't be listed.

While Travis runs every 24 hours we can't quite control the time of day it's running, and with time zones, I don't think we can work around this very easily.

[2018-12-05 19:57] maneesha commented on #473
Thanks @fmichonneau - I'll check back on the Dec 3-4 workshops later.

It is also showing SWC workshops when it should be limited to DC workshops.

[2018-12-06 02:05] tracykteal commented on #473
SWC is also showing non SWC workshops, for instance the George Mason University workshop is Library Carpentry. Library Carpentry workshops look right though.

[2018-12-06 02:14] tracykteal commented on #473
Looking back through _data/amy.json it seems like this could have been happening for a bit.

[2018-12-06 13:15] fmichonneau commented on #473
I'll try to look into it soon but this is probably related to https://github.com/carpentries/amy-feeds/issues/4

[2018-12-07 01:33] tracykteal commented on #473
That was my thought too. I just couldn't track down why it was working for LC and not the others.

[2018-12-16 18:50] maneesha commented on #473
@fmichonneau  is there an update on this?

[2018-12-17 14:00] maneesha commented on #470
@ErinBecker  is there anything I can do to help here? Or should this be assigned to someone else?

[2018-12-17 17:16] ErinBecker commented on #470
Removing the "/" at the end of the path makes the links work.

https://datacarpentry.org/sql-ecology-lesson/reference

Could you please update?

[2018-12-20 14:41] maneesha opened #475 "Past workshops page is empty"
Nothing is on this page:
https://datacarpentry.org/workshops-past/

[2019-01-07 14:11] maneesha commented on #473
Checking in - is there anything I can do to help fix this?  We've been getting emails as this is causing confusion.  @fmichonneau @tracykteal

(Note that @libcce  manually curates the LC list)

[2019-01-07 14:45] fmichonneau commented on #473
This [python script](https://github.com/carpentries/amy-feeds/blob/master/bin/get-amy.py) needs to be edited to take into account the changes in the AMY API described [here](https://github.com/swcarpentry/amy/pull/1363#issuecomment-427594814). If it's something you think you could tackle that would be great. I'm happy to test and review

[2019-01-14 20:01] maneesha commented on #466
@ErinBecker  is this still in progress?

[2019-01-14 20:02] maneesha commented on #381
http://www.datacarpentry.org/people/ now redirects to The Carpentries staff page (https://carpentries.org/team/).
Closing this.

[2019-01-14 20:02] #381 closed

[2019-01-14 20:03] maneesha commented on #417
The DC website assessment page now redirects to https://carpentries.org/assessment/
Closing this.

[2019-01-14 20:03] #417 closed

[2019-01-14 20:04] maneesha commented on #103
@tracykteal  I'm going through some super old issues.  I don't think the history of Data Carpentry's governance is on the DC website anymore.  Do we want a section on DC's history or can we close this?

[2019-01-14 20:06] maneesha commented on #137
Catching up on a bunch of old issues!
I don't know how to fix this.  @rgaiacs  do you?
Maybe @fmichonneau ?  If anyone can share some info with me I can look into things more.  I don't even know where to start!

[2019-01-14 20:07] maneesha commented on #138
Same as #137...

Catching up on a bunch of old issues!
I don't know how to fix this. @rgaiacs do you?
Maybe @fmichonneau ? If anyone can share some info with me I can look into things more. I don't even know where to start!

[2019-01-14 20:07] maneesha commented on #143
Same as #137...

Catching up on a bunch of old issues!
I don't know how to fix this. @rgaiacs do you?
Maybe @fmichonneau ? If anyone can share some info with me I can look into things more. I don't even know where to start!

[2019-01-14 20:08] maneesha commented on #143
Same as #137...

Catching up on a bunch of old issues!
I don't know how to fix this. @rgaiacs do you?
Maybe @fmichonneau ? If anyone can share some info with me I can look into things more. I don't even know where to start!

[2019-01-16 17:56] tracykteal commented on #103
Thanks, we can close this. I'll go ahead and do that.

[2019-01-16 17:56] #103 closed

[2019-01-17 01:40] ErinBecker commented on #466
@maneesha - please review https://github.com/datacarpentry/datacarpentry.github.io/pull/476 and merge if it looks good. Then this can be closed.

[2019-01-30 11:20] fmichonneau commented on #473
switched data source to use redash query instead of directly querying the AMY API. The list should now be accurate.

[2019-01-30 11:20] #473 closed

[2019-01-30 13:44] #475 closed

[2019-02-20 19:38] maneesha commented on #451
Closing this for now; will open another issue about how workshops are managed across all four websites.

[2019-02-20 19:38] #451 closed

[2019-02-20 19:39] maneesha commented on #329
Closed just like #451

[2019-02-20 19:39] #329 closed

[2019-02-20 19:48] maneesha commented on #443
Clearing up some old issues...
@ErinBecker  @fmichonneau  From the curriculum and maintainers perspective do you want to keep these two pages up as they are for now?  Or perhaps revisit in another work cycle?

[2019-02-20 19:49] maneesha commented on #450
Assigning to myself to search the repo and make all mailto links go to `(mailto:{{ site.dc_email }})`

[2019-02-20 20:11] ErinBecker commented on #443
This is probably something that we should update when the initial draft of
the Curriculum Development Handbook is released. Can you please add this to
the list of infrastructure follow-up for that project?

On Wed, Feb 20, 2019 at 11:48 AM maneesha sane <notifications@github.com>
wrote:

--
*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Sc

[2019-03-26 19:19] maneesha commented on #443
@ErinBecker The Roadmap for Lesson Development now redirects to the new CDH.
What should we do with the Development of Lessons page?

[2019-03-27 15:18] ErinBecker commented on #443
Please add the CDH to the Development of Lessons page as linked text.

[2019-04-05 19:00] maneesha commented on #443
Fixed with 03cb1a0

[2019-04-05 19:00] #443 closed

[2019-04-16 15:19] maneesha commented on #137
Closing as stale

[2019-04-16 15:19] #137 closed

[2019-04-16 15:19] maneesha commented on #138
Closing as stale

[2019-04-16 15:19] #138 closed

[2019-04-16 15:19] maneesha commented on #143
Closing as stale

[2019-04-16 15:19] #143 closed

[2019-06-12 10:54] maneesha opened #488 "Difference between "workshop" and "curriculum""
In the page section headings, we refer to our offerings as:

* Ecology Curriculum
* Genomics Curriculum
* Social Science Curriculum
* Geospatial Data Workshop (but "Geospatial data curriculum" in TOC at top of page)

Higher level headings refer to everything as *Workshop Materials*

Is there an intended difference in using the term *workshop* vs the term *curriculum*?  If not can I change *Geospat

[2019-06-12 16:51] ErinBecker commented on #488
Good catch @maneesha. Please change to curriculum.

[2019-07-02 08:17] fmichonneau opened #489 "add Angela Li as maintainer for Social Sciences Curriculum workshop"
currently listed at TBA. Also add her to the appropriate maintainer GitHub team

[2019-07-08 20:20] maneesha commented on #489
Fixed with de210573371363e
She was already on the team.

[2019-07-08 20:20] #489 closed

[2019-07-08 20:23] #488 closed

[2019-08-06 23:12] jduckles opened #494 "Consider adding tags to historical posts"
Based on a Slack thread:
![image](https://user-images.githubusercontent.com/119403/62583253-89d52b00-b903-11e9-8711-66551f6561db.png)

It appears all posts have no tags/categories at the moment, so they would have to be added.

[2019-08-14 15:34] angela-li commented on #494
Thanks @jduckles for opening this issue based on my question. It would be great to be able to search Data Carpentry posts by tag. Right now, it's very difficult to find relevant/related posts without scrolling through all the content chronologically, which makes finding useful information difficult for instructors, organizers, and hosts. This could also be useful for search engine optimization!

[2019-08-23 14:36] fmichonneau commented on #494
@serahrono I'm tagging you just in case you hadn't seen this. I know you've been thinking about tags for the other blogs.

[2019-08-26 11:40] serahrono commented on #494
This is a great idea and we will work towards making tags available on https://librarycarpentry.org, https://datacarpentry.org and https://softwarecarpentry.org soon. Thanks @angela-li for the suggestion, @jduckles for opening the issue and @fmichonneau for flagging it.

Please leave this issue open and we'll reference it as we make updates.

[2019-09-09 15:22] maneesha commented on #450
#495 takes care of this for the team@carpentries.org email address.  Leaving this issue open to consider other places we should be using variables rather than hard coding email addresses and such.

[2019-09-09 15:24] #450 closed

[2019-09-09 16:04] maneesha commented on #494
@fmichonneau  is this addressed by the work you and @serahrono  are doing? Can we close this here?

[2019-09-09 16:07] fmichonneau commented on #494
no, let's leave this open. For now, I just opened a PR that allows us to visualize blog posts by tags but none of the DC blog posts have tags. We'll be able to close this issue when the posts will be tagged I think on October 4th?

[2019-10-08 09:18] serahrono opened #499 "The Carpentries Tagathon - Suggest Relevant Tags for Blog Posts"
October 28  to November 1 2019 is The Carpentries Tagathon week. This means we will be working to add relevant tags to as many posts as possible on the [Data Carpentry](https://datacarpentry.org/blog), [Library Carpentry](https://librarycarpentry.org/blog) and [Software Carpentry](https://software-carpentry.org/blog) blogs. More information about this initiative is available [in this blog post](ht

[2019-10-18 15:56] serahrono commented on #499
addresses #494

[2019-10-31 10:28] serahrono commented on #494
hi @angela-li and @jduckles, work around this is still in progress, and we've gotten contributions from community and staff this month. There are still posts that need our attention, let me know if you have some time to dive into #499 this week, happy to co-work if you like

[2020-01-23 16:28] maneesha opened #515 "Test content in blog post"
@fmichonneau  @ErinBecker
Was this post supposed to have actual content in it? Otherwise we should remove it.

Post:  https://datacarpentry.org/blog/2018/05/test
File on Github: https://github.com/datacarpentry/datacarpentry.github.io/blob/master/_posts/2018-05-21-test.md

[2020-01-23 16:35] maneesha opened #516 "Blog post not showing up"
On the [front page](https://datacarpentry.org/) of the Data Carpentry site, [this blog post](https://github.com/datacarpentry/datacarpentry.github.io/blob/master/_posts/2019-05-15-genomics-pilot.md) does not show up.  It does show up if you go to the [blog archive page](https://datacarpentry.org/blog/archive/).

I remember fixing something like this before - @fmichonneau if you remember what we di

[2020-01-25 05:03] ErinBecker commented on #515
Thanks weird. I don't remember that at all. Yes, please delete. Thanks for catching this @maneesha

[2020-01-29 15:25] maneesha commented on #515
Fixed with https://github.com/datacarpentry/datacarpentry.github.io/commit/c62cc9bc7e508d6518a85c7bdbbf2d8ee6dcbbee

[2020-01-29 15:25] #515 closed

[2020-02-04 10:44] fmichonneau commented on #516
this actually comes from the template. Normally the latest blog post is displayed somewhere else and then older posts are in the list. It looks like at some point we removed showing the latest blog post without changing the list. I'll put a fix in.

[2020-02-04 10:46] #516 closed

[2020-02-08 16:34] snownontrace opened #518 "Link to "Image analysis curriculum" not working"
On the Data Carpentry lessons website (https://datacarpentry.org/lessons/#other-curriculum), the link to "Image analysis curriculum" under "Curriculum materials under development or consideration" is not working, while links to other curriculums will take the reader to the information paragraph below, which further links to the material in development.

[2020-02-10 19:57] ErinBecker commented on #518
Thanks for the issue @snownontrace! This should be solved with https://github.com/datacarpentry/datacarpentry.github.io/pull/517, but I'll confirm in the live render before closing.

[2020-02-10 20:00] ErinBecker commented on #518
Fixed! thanks again @snownontrace :-)

[2020-02-10 20:00] #518 closed

[2020-05-27 17:51] maneesha opened #521 "Redirect workshops page to Carpentries site?"
Right now we have [this workshops page](https://datacarpentry.org/workshops-host/) on the DC site, that contains much of the same information as [The Carpentries workshops page](https://static.carpentries.org/workshops/).  I'd like to deprecate the page on the DC site and redirect it to The Carpentries workshop page.

@sheraaronhurt  let me know what you think.

[2020-05-27 18:37] sheraaronhurt commented on #521
Love the idea @maneesha ! This will ensure that all LP are providing the same message.

[2020-05-28 13:39] #521 closed

[2020-10-01 08:04] tobyhodges opened #542 "Links to Lesson Instructor Guides"
The discussion on https://github.com/datacarpentry/datacarpentry.github.io/pull/531 caused me to do a sweep for broken links from https://datacarpentry.org/lessons/ to Reference and Instructor Notes pages for each lesson. This highlighted an apparent inconsistency between the Reference page links - which point to [lesson-url]/reference.html - and Instructor Notes page links - which are pointing to

[2020-10-02 14:38] fmichonneau commented on #542
yes, that's the way to go, thanks for checking Toby.

[2020-10-08 08:57] tobyhodges commented on #542
hmmm. looking at [`_config.yml` in the boilerplate of `styles`](https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/_config.yml), the `_extras` and `_episodes` collections are setup to use `/:path/index.html`, meaning that, even if the permalink is not set in the YAML front matter of the page itself, the path to the page will still be `/whatever/index.html`. This means that removin

[2020-10-08 08:57] tobyhodges commented on #542
hmmm. looking at [`_config.yml` in the boilerplate of `styles`](https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/_config.yml), the `_extras` and `_episodes` collections are setup to use `/:path/index.html`, meaning that, even if the permalink is not set in the YAML front matter of the page itself, the path to the page will still be `/whatever/index.html`. This means that removin

[2020-10-08 09:30] fmichonneau commented on #542
Sorry for the confusion Toby, I misread your initial comment. The URL pattern the template expects for these pages is `:path/index.html` as defined in the current version of the `_config.yml`. When the `permalink` variable is set in the header of pages, this takes precedence over what is defined in `_config.yml`. Therefore removing this variable from the Extras pages is the way to go and the rende

[2020-10-19 14:32] maneesha commented on #542
Checking in @tobyhodges  Are you still working through this?

[2020-10-19 19:16] tobyhodges commented on #542
There are still several lessons I need to submit fixes to for this, so I'd like to leave it open. I'll add a checklist here as a way to track my progress.

- [x] swcarpentry/shell-novice
- [x] swcarpentry/python-novice-inflammation
- [x] swcarpentry/git-novice-es (PR pending approval)
- [ ] swcarpentry/python-novice-gapminder
- [ ] swcarpentry/r-novice-inflammation
- [ ] swcarpentry/r-novice-gapmi

[2020-11-13 10:39] tobyhodges commented on #542
Pull Requests have now been submitted to make these permalinks consistent across all official lessons, and most have been merged already. I'm going to close this Issue now but feel free to post here and reopen if you'd like to discuss further or if you notice there's still an issue.

[2020-11-13 10:39] #542 closed

[2020-11-13 11:06] fmichonneau commented on #542
Thank you for all your work on this!

[2021-01-04 17:15] chendaniely opened #556 "Menu items in top menu bar does not display correctly"
I'm running Firefox 84.0.1 (64-bit) on Manjaro Linux using KDE
and the top menu bar for the data carpentry website does not toggle the navbar correctly as the browser window resizes horizontally.
This only happens on the DC website, not the SWC or LC websites.

when it's "narrow" (< 1027 pixels) the navbar correctly turns into the "hamburger" bar,
![image](https://user-images.githubusercontent.com

[2021-01-11 15:21] maneesha commented on #556
Thanks for catching this @chendaniely
We'll look into updating [the theme](https://phlow.github.io/feeling-responsive/) this website uses to see if that fixes things.

[2021-01-11 15:40] fmichonneau commented on #556
the problem comes from the fact that the template wasn't designed to include something other than "contact" and "search" on the right corner. By adding "sponsors", the responsiveness gets broken.

[2021-01-15 19:48] maneesha commented on #556
Thanks for catching the problem @fmichonneau

@serahrono  do you have suggestions from a communications perspective of how to handle this? We could keep it as is, or we could remove the "sponsors" option.  What do you think? I appreciate your feedback!

[2021-01-22 18:35] maneesha commented on #556
Pinging @serahrono

[2021-04-16 17:10] maneesha commented on #556
OK, I just tried to remove the "Sponsor" item from the right side of the tool bar and still get the same effect.
@fmichonneau  do you have any other suggestions as to what might cause this?

![dc_menubar](https://user-images.githubusercontent.com/829690/115059791-08de7d00-9eb5-11eb-8e1d-b38d16911f5a.gif)

[2021-05-28 15:02] maneesha opened #566 "Order of names of maintainers in lessons table"
The order of the names in the lessons table is inconsistent.  I'd like to make all these be alphabetical so as not to imply any hierarchy -- unless there is a reason for ordering them as they are? @tobyhodges  let me know what you think and I can make the change.  This probably applies to our other lesson program sites as well.

[2021-05-28 20:16] #566 closed

[2021-05-28 20:17] maneesha commented on #566
I have put in PRs on the DC and SWC websites for this. I will open a new issue for the LC website since @tobyhodges has suggested things may be different there.

[2021-09-03 21:39] maneesha commented on #499
@kmomar @acrall We have a number of issues about tags on blog post that have been open for up to two years. Do you want to keep these open?

[2021-09-03 21:39] maneesha commented on #494
@kmomar @acrall We have a number of issues about tags on blog post that have been open for up to two years. Do you want to keep these open?

[2021-09-09 17:40] kmomar commented on #494
@maneesha @acrall and I will address this and other blog tag issues in an upcoming Reading and Reflection day

[2021-09-09 17:43] kmomar commented on #499
@maneesha @acrall we are closing this issue as it is open-ended and can't be addressed and hasn't seen activity since 2019

[2021-09-09 17:43] #499 closed

[2021-11-01 20:30] acrall commented on #494
@kmomar This has been completed and can be closed, correct?

[2022-11-23 19:04] sstevens2 commented on #556
Ran into this issue myself today.  Thanks @chendaniely for your excellent issue description!  Mine wasn't going to be nearly as descriptive.